{% extends "educational/base.html" %}
{% load static %}

{% block title %}StudySaathi{% endblock %}

{% block navbar %}
    {% include "educational/navbar.html" %}
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'educational/css/home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

{% endblock %}

{% block content %}
    <!-- Main Content -->
     
    <div class="main-content">

        <div class="headingAndSearch">
            <h1>Hello, What Do You Want To Learn?</h1>
            
            <div class="search-wrapper">
            <div class="search-bar-home">
                <input type="text" id="search-input-home" placeholder="">
                <img src="{% static 'educational/images/search-icon.svg' %}" alt="Search Icon" class="search-icon-home">
            </div>
            <div id="search-results-container" class="search-results hidden"></div>
            </div>

            <div class="buttonsSearch">
                <button>Science</button>
                <button>Arts</button>
                <button>Commerce</button>
            </div>
        </div>                     

        {% for heading in headings %}
        <div class="heading-section">
            <h2 class="section-heading">{{ heading.title }}</h2>
            {% if heading.underline %}
            <div class="section-underline"></div>
            {% endif %}
        </div>

        <!-- Cards Section -->
        <div class="card-container">
            {% for title_class in heading.title_classes.all %}
            <a href="{% url 'subjects' class_id=title_class.class_name.id heading_id=heading.id %}"> <!-- Updated URL -->
                <div class="card" style="background-color: {{ title_class.class_name.card_color }};">
                    <img src="{{ title_class.class_name.image.url }}" alt="{{ title_class.class_name.name }} Icon">
                    <div class="card-name">{{ title_class.class_name.name }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'educational/js/home.js' %}"></script>
{% endblock %}
