{% extends "educational/base.html" %}
{% load static %}
{% block title %}{{ subject.name }}{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'educational/css/subjectDetail.css' %}">
{% endblock %}

{% block navbar %}
    {% include "educational/navbar.html" %}
{% endblock %}

{% block content %}
    <div class="flex-container">
        <div class="card-container">
            {% for class_subject_chapter in class_subject_chapters %}
            <div class="card chapter-item" data-chapter-id="{{ class_subject_chapter.id }}">
                <div class="list-group-item">
                    <ul>
                        <li onclick="loadChapter('{{ class_subject_chapter.chapter.id }}')"> {{ class_subject_chapter.chapter.name }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="content-container">
            <div class="nav-bar" id="content-categories">
                <p>Select a chapter to view its categories.</p>
            </div>
            <div id="content-display">
                <p>Select a category to view content.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'educational/js/subjectDetail.js' %}"></script>
{% endblock %}



