{% extends "educational/base.html" %}
{% load static %}
{% block title %}Subjects{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'educational/css/subject.css' %}">
{% endblock %}

{% block navbar %}
    {% include "educational/navbar.html" %}
{% endblock %}

{% block content %}
    <!-- Body Content -->
    <center><h1>{{ class_obj.name }} - {{ heading.title }}</h1></center>
    <div class="resource-section" id="dark">
        <div class="container">
            <div class="subject-wrapper">
            <div class="row">
                {% for class_subject in subjects %}
                <div class="col-sm-2">
                    <div class="res-box">
                        <a href="{% url 'subject_detail' class_id=class_obj.id subject_id=class_subject.subject.id %}">
                            <script>
                                console.log("{{ class_subject.image.url }}")
                            </script>
                            <img src="{{ class_subject.image.url }}" alt="{{ class_subject.subject.name }}">
 
                            <p>{{ class_subject.subject.name }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'educational/js/subject.js' %}"></script>
{% endblock %}


